In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Wczytanie pliku CSV

In [5]:
df = pd.read_csv('data/iris.csv')
pd.read_csv('https://raw.githubusercontent.com/uiuc-cse/data-fa14/gh-pages/data/iris.csv')

print(df['sepal_length'].dtype)
print(df['species'].dtype)

df2 = pd.read_csv('data/LaqnData.csv')
print(df2['ReadingDateTime'].dtype.name)
df2

FileNotFoundError: File b'data/iris.csv' does not exist

In [6]:
from io import StringIO

csv_data = """
sepal_length,sepal_width,petal_length,petal_width,species
5.1,3.5,1.4,0.2,setosa
4.9,3,1.4,0.2,setosa
4.7,3.2,1.3,0.2,setosa
4.6,3.1,1.5,0.2,setosa
5,3.6,1.4,0.2,setosa
5.4,3.9,1.7,0.4,setosa
4.6,3.4,1.4,0.3,setosa
5,3.4,1.5,0.2,setosa
7,3.2,4.7,1.4,versicolor
6.4,3.2,4.5,1.5,versicolor
6.9,3.1,4.9,1.5,versicolor
5.5,2.3,4,1.3,versicolor
6.5,2.8,4.6,1.5,versicolor
5.7,2.8,4.5,1.3,versicolor
6.3,3.3,4.7,1.6,versicolor
4.9,2.4,3.3,1,versicolor
6.3,3.3,6,2.5,virginica
5.8,2.7,5.1,1.9,virginica
7.1,3,5.9,2.1,virginica
6.3,2.9,5.6,1.8,virginica
6.5,3,5.8,2.2,virginica
7.6,3,6.6,2.1,virginica
4.9,2.5,4.5,1.7,virginica
7.3,2.9,6.3,1.8,virginica
6.7,2.5,5.8,1.8,virginica
"""

In [7]:
missing_values = """
sepal_length,sepal_width,petal_length,petal_width,species
5.1,,1.4,0.2,setosa
4.9,3,1.4,0.2,setosa
4.7,3.2,1.3,0.2,setosa
4.6,3.1,,0.2,setosa
5,3.6,1.4,0.2,setosa
5.4,3.9,1.7,0.4,setosa
,3.4,1.4,0.3,setosa
,3.4,1.5,0.2,setosa
7,3.2,4.7,,versicolor
6.4,3.2,4.5,1.5,versicolor
6.9,3.1,4.9,1.5,versicolor
5.5,2.3,4,1.3,versicolor
6.5,,,1.5,versicolor
5.7,2.8,4.5,1.3,versicolor
6.3,,4.7,1.6,versicolor
4.9,2.4,,1,versicolor
6.3,3.3,,2.5,virginica
5.8,2.7,5.1,1.9,virginica
7.1,3,5.9,2.1,virginica
6.3,,5.6,1.8,virginica
6.5,3,,2.2,virginica
7.6,3,6.6,2.1,virginica
4.9,,4.5,1.7,virginica
,2.9,6.3,,virginica
6.7,,5.8,1.8,virginica
"""

In [20]:
# csv_data: str
csv_strio = StringIO(missing_values)
df = pd.read_csv(csv_strio)
df

    sepal_length  sepal_width  petal_length  petal_width     species
0            5.1          NaN           1.4          0.2      setosa
1            4.9          3.0           1.4          0.2      setosa
2            4.7          3.2           1.3          0.2      setosa
3            4.6          3.1           NaN          0.2      setosa
4            5.0          3.6           1.4          0.2      setosa
5            5.4          3.9           1.7          0.4      setosa
6            NaN          3.4           1.4          0.3      setosa
7            NaN          3.4           1.5          0.2      setosa
8            7.0          3.2           4.7          NaN  versicolor
9            6.4          3.2           4.5          1.5  versicolor
10           6.9          3.1           4.9          1.5  versicolor
11           5.5          2.3           4.0          1.3  versicolor
12           6.5          NaN           NaN          1.5  versicolor
13           5.7          2.8           4.5          1.3  versicolor
14           6.3          NaN           4.7          1.6  versicolor
15           4.9          2.4           NaN          1.0  versicolor
16           6.3          3.3           NaN          2.5   virginica
17           5.8          2.7           5.1          1.9   virginica
18           7.1          3.0           5.9          2.1   virginica
19           6.3          NaN           5.6          1.8   virginica
20           6.5          3.0           NaN          2.2   virginica
21           7.6          3.0           6.6          2.1   virginica
22           4.9          NaN           4.5          1.7   virginica
23           NaN          2.9           6.3          NaN   virginica
24           6.7          NaN           5.8          1.8   virginica

In [21]:
df.fillna(0)

    sepal_length  sepal_width  petal_length  petal_width     species
0            5.1          0.0           1.4          0.2      setosa
1            4.9          3.0           1.4          0.2      setosa
2            4.7          3.2           1.3          0.2      setosa
3            4.6          3.1           0.0          0.2      setosa
4            5.0          3.6           1.4          0.2      setosa
5            5.4          3.9           1.7          0.4      setosa
6            0.0          3.4           1.4          0.3      setosa
7            0.0          3.4           1.5          0.2      setosa
8            7.0          3.2           4.7          0.0  versicolor
9            6.4          3.2           4.5          1.5  versicolor
10           6.9          3.1           4.9          1.5  versicolor
11           5.5          2.3           4.0          1.3  versicolor
12           6.5          0.0           0.0          1.5  versicolor
13           5.7          2.8           4.5          1.3  versicolor
14           6.3          0.0           4.7          1.6  versicolor
15           4.9          2.4           0.0          1.0  versicolor
16           6.3          3.3           0.0          2.5   virginica
17           5.8          2.7           5.1          1.9   virginica
18           7.1          3.0           5.9          2.1   virginica
19           6.3          0.0           5.6          1.8   virginica
20           6.5          3.0           0.0          2.2   virginica
21           7.6          3.0           6.6          2.1   virginica
22           4.9          0.0           4.5          1.7   virginica
23           0.0          2.9           6.3          0.0   virginica
24           6.7          0.0           5.8          1.8   virginica

In [22]:
df.fillna(0, inplace=True)
df

    sepal_length  sepal_width  petal_length  petal_width     species
0            5.1          0.0           1.4          0.2      setosa
1            4.9          3.0           1.4          0.2      setosa
2            4.7          3.2           1.3          0.2      setosa
3            4.6          3.1           0.0          0.2      setosa
4            5.0          3.6           1.4          0.2      setosa
5            5.4          3.9           1.7          0.4      setosa
6            0.0          3.4           1.4          0.3      setosa
7            0.0          3.4           1.5          0.2      setosa
8            7.0          3.2           4.7          0.0  versicolor
9            6.4          3.2           4.5          1.5  versicolor
10           6.9          3.1           4.9          1.5  versicolor
11           5.5          2.3           4.0          1.3  versicolor
12           6.5          0.0           0.0          1.5  versicolor
13           5.7          2.8           4.5          1.3  versicolor
14           6.3          0.0           4.7          1.6  versicolor
15           4.9          2.4           0.0          1.0  versicolor
16           6.3          3.3           0.0          2.5   virginica
17           5.8          2.7           5.1          1.9   virginica
18           7.1          3.0           5.9          2.1   virginica
19           6.3          0.0           5.6          1.8   virginica
20           6.5          3.0           0.0          2.2   virginica
21           7.6          3.0           6.6          2.1   virginica
22           4.9          0.0           4.5          1.7   virginica
23           0.0          2.9           6.3          0.0   virginica
24           6.7          0.0           5.8          1.8   virginica

In [25]:
df2 = pd.DataFrame([[1,2,3], [4, 5, 6], [7, 8, 9], [0, np.NaN, 0], [0, 0, np.NaN]], columns=list('ABC'))

In [26]:
df2 = pd.DataFrame([[1,2,3], [4, 5, 6], [7, 8, 9], [0, np.NaN, 0], [0, 0, np.NaN]], columns=list('ABC'))
print(df2.mean())
df2.fillna(df2.mean())
df2.fillna?

A    2.40
B    3.75
C    4.50
dtype: float64

In [13]:
df = pd.DataFrame([[1, 'abc;def;ghi'],[2, 'jkl;mno'], [3, 'pqr;stu;vwx']], columns=list('AB'))
print(df)
split_B = df.B.str.split(';', expand=True).rename(columns=lambda x: f'B_{x}')
df.join(split_B)

   A            B
0  1  abc;def;ghi
1  2      jkl;mno
2  3  pqr;stu;vwx

   A            B  B_0  B_1   B_2
0  1  abc;def;ghi  abc  def   ghi
1  2      jkl;mno  jkl  mno  None
2  3  pqr;stu;vwx  pqr  stu   vwx

# Grupowanie i agregacja

In [29]:
nycflights13_csv = """
"year","month","day","dep_time","dep_delay","arr_time","arr_delay","carrier","tailnum","flight","origin","dest","air_time","distance","hour","minute"
2013,1,1,517,2,830,11,"UA","N14228",1545,"EWR","IAH",227,1400,5,17
2013,1,1,533,4,850,20,"UA","N24211",1714,"LGA","IAH",227,1416,5,33
2013,1,1,542,2,923,33,"AA","N619AA",1141,"JFK","MIA",160,1089,5,42
2013,1,1,544,-1,1004,-18,"B6","N804JB",725,"JFK","BQN",183,1576,5,44
2013,1,1,554,-6,812,-25,"DL","N668DN",461,"LGA","ATL",116,762,5,54
2013,1,1,554,-4,740,12,"UA","N39463",1696,"EWR","ORD",150,719,5,54
2013,1,5,555,-5,913,19,"B6","N516JB",507,"EWR","FLL",158,1065,5,55
2013,1,5,557,-3,709,-14,"EV","N829AS",5708,"LGA","IAD",53,229,5,57
2013,1,5,557,-3,838,-8,"B6","N593JB",79,"JFK","MCO",140,944,5,57
2013,1,1,558,-2,753,8,"AA","N3ALAA",301,"LGA","ORD",138,733,5,58
2013,1,1,558,-2,849,-2,"B6","N793JB",49,"JFK","PBI",149,1028,5,58
2013,1,1,558,-2,853,-3,"B6","N657JB",71,"JFK","TPA",158,1005,5,58
2013,1,1,558,-2,924,7,"UA","N29129",194,"JFK","LAX",345,2475,5,58
2013,3,1,454,-6,633,-15,"US","N177US",1117,"EWR","CLT",79,529,4,54
2013,3,1,505,-10,746,-24,"UA","N527UA",475,"EWR","IAH",199,1400,5,5
2013,3,1,521,-9,813,-14,"UA","N76523",1714,"LGA","IAH",213,1416,5,21
2013,3,1,537,-3,856,6,"AA","N5EPAA",1141,"JFK","MIA",173,1089,5,37
2013,3,1,541,-4,1014,-9,"B6","N653JB",725,"JFK","BQN",191,1576,5,41
2013,3,1,549,-11,639,-24,"US","N749US",2114,"LGA","BOS",31,184,5,49
2013,3,1,550,-10,747,-14,"EV","N760EV",4911,"EWR","DTW",89,488,5,50
2013,3,4,551,-8,722,-1,"EV","N26549",4608,"EWR","MKE",119,725,5,51
2013,3,4,551,-9,717,-28,"AA","N3DCAA",301,"LGA","ORD",113,733,5,51
2013,3,4,551,-9,845,-16,"B6","N566JB",371,"LGA","FLL",155,1076,5,51
2013,3,4,552,-8,656,-39,"MQ","N520MQ",3768,"EWR","ORD",108,719,5,52
2013,5,1,9,434,308,408,"VX","N628VA",413,"JFK","LAX",341,2475,0,9
2013,5,1,451,-9,641,1,"US","N196UW",1219,"EWR","CLT",94,529,4,51
2013,5,1,537,-3,836,-4,"AA","N5BYAA",701,"JFK","MIA",144,1089,5,37
2013,5,1,544,-1,818,-9,"UA","N494UA",450,"LGA","IAH",190,1416,5,44
2013,5,1,548,-12,831,-23,"B6","N523JB",371,"LGA","FLL",140,1076,5,48
2013,5,1,549,-11,804,-6,"MQ","N520MQ",4650,"LGA","ATL",113,762,5,49
2013,5,1,553,-7,700,-12,"EV","N877AS",5747,"LGA","IAD",48,229,5,53
2013,5,2,553,-7,655,-6,"US","N702UW",2114,"LGA","BOS",35,184,5,53
2013,5,2,554,-6,731,-25,"DL","N327NB",731,"LGA","DTW",74,502,5,54
2013,5,2,554,-6,707,-18,"UA","N439UA",635,"LGA","ORD",112,733,5,54

"""

In [31]:
nycflights13 = StringIO(nycflights13_csv)
df13 = pd.read_csv(nycflights13)
df13.sample(5)

#df13.describe()

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
6,2013,1,5,555,-5,913,19,B6,N516JB,507,EWR,FLL,158,1065,5,55
29,2013,5,1,549,-11,804,-6,MQ,N520MQ,4650,LGA,ATL,113,762,5,49
19,2013,3,1,550,-10,747,-14,EV,N760EV,4911,EWR,DTW,89,488,5,50
3,2013,1,1,544,-1,1004,-18,B6,N804JB,725,JFK,BQN,183,1576,5,44
31,2013,5,2,553,-7,655,-6,US,N702UW,2114,LGA,BOS,35,184,5,53

In [33]:
df13.groupby('month').median()

,year,day,dep_time,dep_delay,arr_time,arr_delay,flight,air_time,distance,hour,minute
month,,,,,,,,,,,
1,2013.0,1.0,555.0,-2.0,849.0,7.0,507.0,158.0,1028.0,5.0,55.0
3,2013.0,1.0,549.0,-9.0,746.0,-15.0,1141.0,119.0,733.0,5.0,50.0
5,2013.0,1.0,548.5,-6.5,719.0,-7.5,716.0,112.5,747.5,5.0,50.0

In [34]:
df13.groupby(['month', 'day']).mean()

             year    dep_time  dep_delay    arr_time  arr_delay       flight  \
month day
1     1    2013.0  547.600000  -1.100000  853.800000   4.300000   789.700000
      5    2013.0  556.333333  -3.666667  820.000000  -1.000000  2098.000000
3     1    2013.0  522.428571  -7.571429  778.285714 -13.428571  1742.428571
      4    2013.0  551.250000  -8.500000  735.000000 -21.000000  2262.000000
5     1    2013.0  455.857143  55.857143  705.428571  50.714286  1935.857143
      2    2013.0  553.666667  -6.333333  697.666667 -16.333333  1160.000000

             air_time     distance      hour     minute
month day
1     1    185.300000  1220.300000  5.000000  47.600000
      5    117.000000   746.000000  5.000000  56.333333
3     1    139.285714   954.571429  4.857143  36.714286
      4    123.750000   813.250000  5.000000  51.250000
5     1    152.857143  1082.285714  4.142857  41.571429
      2     73.666667   473.000000  5.000000  53.666667

In [36]:
df13.groupby('month', as_index=False).aggregate({"distance": "sum"})

   month  distance
0      1     14441
1      3      9935
2      5      8995

In [35]:
aggregations = {
    'arr_time': [min, max, sum],        
    'arr_delay': 'mean',            
    'day': ['first', 'nunique']
}

df13.groupby('month').agg(aggregations)

      arr_time               arr_delay   day
           min   max    sum       mean first nunique
month
1          709  1004  10998   3.076923     1       2
3          633  1014   8388 -16.181818     1       2
5          308   836   7031  30.600000     1       2

In [ ]:
df13['air_time'].groupby(df13['month']).apply(np.sum)